<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.indaco.instantlibrary">

    <dist:module dist:instant="true" />

    <application>
        <activity
            android:name=".InstantActivity"
            android:exported="true" />
    </application>

</manifest>